<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script th:inline="javascript">
    /*<![CDATA[*/
      $(document).ready(function() {
        $("#categoryId").change(function() {
          var categoryId = $(this).val();
          $.get("./loadcategoryNames?categoryId=" + categoryId, (brands)=> {
            $("#brandId").empty();
            $.each(brands, (index, brand)=> {
              $("#brandId").append("<option value='" + brand.brandId+ "'>" + brand.brandTitle + "</option>");
            });
          });
        });
      });
    /*]]>*/
  </script>

</head>
<body>
<h1>Product Form</h1>
<hr/>

<form action="./saveV1" method="post">
  
   
   <div>
   		<label>Product Title</label>
   		<input name="productTitle"/>
   </div>
   
   <div>
   		<label>Product Price</label>
   		<input name="priceInfo.price"/>
   </div>
   
   <div>
   		<label>Description</label>
   		<textarea name="description"></textarea>
   </div>
   
   <div>
   		<label>Keywords</label>
   		<textarea name="keywords"></textarea>
   </div>
   
    <div>
   		<label>Quantity</label>
   		<input name="stockInfo.stock"/>
   </div>
   
    <div>
   		<label>Select Category</label>
   		<select name="categoryId" id="categoryId">
   		<option>Select category</option>
    <option th:each="cat : ${categories}" th:value="${cat.categoryId}" th:text="${cat.categoryTitle}"></option>

   		</select>
   </div>
   
    <div>
   		<label>Select Brand</label>
   		<select id="brandId" name="brandId">
   			<option>Select Brand</option>
   		</select>
   </div>

	<div>
		<button>Save</button>
	</div>


</form>


</body>
</html>